@import url('https://fonts.googleapis.com/css?family=Roboto');

.content-top {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #93cb52;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

.logo {
  margin-top: 4px;
  margin-left: 15px;
}

#navbar span {
  color: rgb(133, 11, 11);
  font-size: 18px;
  -webkit-text-stroke: 2px #b3543a;
}

#navbar h5 {
  font-size: 20px;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0;
  font-size: 13px;
}

#navbar ul li a:hover {
  background: #f50000;
  border-radius: 1px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  margin: 20px;
}

.action {
  margin-left: 10px;
  color: #777;
  font-size: 14px;
  cursor: pointer;
}

.likes,
.likes:hover {
  color: rgb(179, 48, 48);
  cursor: default;
}

.description {
  color: #777;
  margin-bottom: 5px;
}

.content {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  flex: 1;
  margin-left: 5px;
}

.title {
  font-weight: normal;
  color: firebrick;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 16px;
}

.text {
  font-weight: normal;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
  color: rgb(32, 29, 29);
}

.container.header-title {
  font-weight: bold;
  color: firebrick;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 18px;
}

.comments {
  color: #777;
  text-decoration: none;
  font-size: 13px;
  font-weight: 250;
}

.author {
  color: #777;
  text-decoration: none;
  font-size: 12px;
}

.voting {
  color: rgb(145, 144, 144);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  margin-top: 16.5px;
}

.likes {
  color: #777;
  margin: 5px 0;
  font-size: 14px;
}

.posts {
  max-width: 960px;
  padding-top: 30px;
  list-style: none;
  margin: 0 15px;
}

.post {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
}

.avatar.default {
  background: url('https://www.dropbox.com/s/9ie9kin4plpojz0/avatar-default.png?dl=0') -75px -75px;
}

.action.submitted {
  font-size: 11.5px;
  cursor: default;
}

.action.category {
  font-size: 15px;
  cursor: default;
}

.voting i {
  cursor: pointer;
}

.fa-xs {
  font-size: 0.5em;
}

.avatar {
  width: 60px;
  height: 55px;
  margin: 10px;
}
