* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

.text-primary {
  color: #33a0ff;
  font-size: 20px;
}

#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #262626;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbar ul {
  display: flex;
  align-items: center;
  margin-right: 30px;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
  text-decoration: none;
  font-size: 13px;
}

#navbar h5 {
  font-size: 20px;
}

#navbar ul li a:hover {
  background: #33a0ff;
  border-radius: 5px;
}
.posts-lists-aside-categories-nav a:hover {
  background: #33a0ff;
  border-radius: 5px;
}

.action {
  margin-left: 10px;
  color: #57606a;
  font-size: 14px;
  cursor: pointer;
}

.posts-lists-container-wrapper {
  display: flex;
  margin: 0px;
  width: 100%;
  padding-left: 20px;
  background-color: #000000;
}
.comment-lists-wrapper {
  margin-top: 20px;
}

.comment-lists-container-wrapper {
  display: flex;
  margin: 0px;
  width: 100%;
  padding-left: 20px;
  background-color: #000000;
}

.posts-lists-main-section {
  flex: 1;
  display: block;
  padding-top: 20px;
  padding-right: 20px;
}

.comment-lists-main-section {
  flex: 1;
  display: block;
  padding-top: 20px;
  padding-right: 20px;
}

.posts-lists-aside-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 240px;
  border-radius: 2px;
  border: 1px solid #333333;
  background-color: #262626;
  padding-left: 20px;
}

.comment-lists-aside-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 240px;
  border-radius: 2px;
  border: 1px solid #333333;
  background-color: #262626;
  padding-left: 20px;
}

.posts-lists-aside-create-post {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  transition: filter 0.1s ease, box-shadow 0.1s ease;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: #33a0ff;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px 2px 0 0;
}

.comment-lists-aside-create-comment {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  transition: filter 0.1s ease, box-shadow 0.1s ease;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: #33a0ff;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px 2px 0 0;
}

.posts-lists-aside-categories-nav {
  display: flex;
  flex-direction: column;
}

.posts-lists-aside-categories-nav-span {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 16px 12px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #333333;
  color: #b0b8bf;
}

.posts-lists-aside-categories-links {
  transition: color 0.1s ease;
  text-underline-position: under;
  position: relative;
  padding: 12px;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}

.comment-lists-aside-categories-nav {
  display: flex;
  flex-direction: column;
}

.comment-lists-aside-categories-nav-span {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 16px 12px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #333333;
  color: #b0b8bf;
}

.comment-lists-aside-categories-links {
  transition: color 0.1s ease;
  text-underline-position: under;
  position: relative;
  padding: 12px;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}

.post-item-wrapper {
  display: flex;
  background-color: #262626;
  margin-bottom: 10px;
}

.comment-item-wrapper {
  display: flex;
  background-color: #262626;
  margin-bottom: 10px;
  margin-top: 15px;
}

.comment-item-wrapper {
  display: flex;
  background-color: #262626;
  margin-left: 40px;
  margin-bottom: 10px;
}

.post-item-avatar {
  width: 60px;
  height: 55px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment-item-avatar {
  width: 60px;
  height: 55px;
  margin-left: 10px;
  margin-top: 5px;

  margin-bottom: 5px;
}

.post-item-content-wrapper {
  flex: 1;
  margin-left: 10px;
  padding-bottom: 20px;
  font-size: 14px;
}

.comment-item-content-wrapper {
  flex: 1;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.post-item-title-wrapper {
  display: flex;
  color: #b0b8bf;
  margin-top: 3px;
  line-height: 20px;
}

.comment-item-title-wrapper {
  display: flex;
  color: #b0b8bf;
  margin-top: 3px;
  line-height: 20px;
}

.post-item-post-title {
  margin-right: 10px;
  transition: color 0.1s ease;
  text-decoration: none;
  color: #ebe6e6;
}

.comment-item-comment-title {
  margin-right: 10px;
  transition: color 0.1s ease;
  text-decoration: none;
  color: #ebe6e6;
}

.post-item-post-title * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
  color: white;
}

.comment-overflow-post-item-post-text {
  display: block;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
  color: #b0b8be;
}

.comment-overflow {
  overflow: visible !important;
  white-space: p !important;
  display: block;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
  color: white;
}

.comment-post-item-post-details-comments {
  display: flex;
  color: #b0b8bf;
  font-weight: lighter;
  font-size: 11px;
}

.comment-item-comment-title * {
  display: block;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
  color: white;
}

.post-item-post-title-category span {
  font-size: 12px;
  color: #2c6aa0;
  display: flex;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.comment-item-post-details-wrapper {
  font-size: 13px;
  margin-top: 5px;
  display: flex;

  line-height: 10px;
}

.comment-post-item-date {
  color: #b0b8bf;
  margin-top: 3px;
  font-size: 11px;
}

.post-item-post-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  max-width: 600px;
  line-height: 20px;
  color: #b0b8bf;
}

.comment-item-comment-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  max-width: 600px;
  line-height: 20px;
  color: #b0b8bf;
  margin-top: 5px;
}

.post-item-post-details-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  margin-top: 5px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  line-height: 10px;
}

.comment-item-comment-details-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  margin-top: 5px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  line-height: 10px;
}

.post-item-post-details-comments-wrapper {
  display: flex;
  color: #33a0ff;
  font-weight: lighter;
}

.comment-item-comment-details-comments-wrapper {
  display: flex;
  color: #b0b8bf;
  font-weight: lighter;
}

.comment-item-post-details-comments-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  margin-top: 5px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  line-height: 10px;
}

.post-item-post-details-comment {
  color: #33a0ff;
  text-decoration: none;
  margin-right: 10px;
  font-weight: lighter;
}

.comment-item-comment-details-comment {
  color: #33a0ff;
  text-decoration: none;
  margin-right: 10px;
  font-weight: lighter;
}

.post-item-post-details-likes {
  color: #33a0ff;
  text-decoration: none;
}

.comment-item-comment-details-likes {
  color: #33a0ff;
  text-decoration: none;
}

.post-item-post-details-wrapper > a {
  transition: color 0.1s ease;
  text-underline-position: under;
  text-decoration: none;
  color: #ffffff;
}

.post-item-post-details-wrapper > span {
  color: #b0b8bf;
  margin-right: 10px;
  font-size: 11px;
}
